
*.sdf
*.opensdf
*.suo
*.user
*.ncb

Multiplaya/Multiplaya.opensdf
Multiplaya/Multiplaya.sdf
Multiplaya/Multiplaya.suo
Multiplaya/ipch/
Multiplaya/Debug/
Multiplaya/Release/
Multiplaya/CodeAnalyst/

Multiplaya/Multiplaya/Unix/obj
Multiplaya/Multiplaya/Debug/
Multiplaya/Multiplaya.suo
Multiplaya/Multiplaya/hud.jpg
Multiplaya/Multiplaya/shit.jpg
Multiplaya/Multiplaya/obj/
Multiplaya/Multiplaya/bin/
Multiplaya/gtest-1.6.0/msvc/gtest/Debug/

Multiplaya/Tests/Debug/
Multiplaya/Tests/Debug/*

Menyer/obj/
Menyer/bin/
Menyer/resources/

Multiplaya/Multiplaya/resources/test/testsprite.psd
