Niklas Andreasson <eaglus_@hotmail.com> Salking <Eaglus_@hotmail.com>
Niklas Andreasson <eaglus_@hotmail.com> Niklas <eaglus_@hotmail.com>
Jonathan Orro <jonathan.orro@gmail.com> joniz7 <jonathan.orro@gmail.com>
Libraries <a@b.c> Test <linux@sfml.org>
Libraries <a@b.c> Test <sfml@linux.org>
Libraries <a@b.c> Test <sfml@linux.org>
Libraries <a@b.c> Lib <fuck.your@mother,com>